[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-rest-auth = { extras = ["with_social"], version = "*" }
djangorestframework-simplejwt = "*"
django-grappelli = "*"

[dev-packages]
pytest-django = "*"
factory_boy = "*"
django-debug-toolbar = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
